<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="cn.xie.mapper.BookMapper">
  		<select id="queryList" resultType="Book">
  			SELECT * FROM book
  		</select>
  		
  		<update id="updateById" >
  			UPDATE book SET BOOK_COUNT = BOOK_COUNT-1 WHERE BOOK_ID = #{bookId}
  		</update>
  </mapper>