<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="cn.xie.mapper.UserMapper">
  		
  		<select id="selectIdByUsername" resultType="Integer">
  			SELECT USER_ID FROM USER WHERE USER_NAME = #{username}
  		</select>
  		
  		<resultMap type="User" id="User">
  			<id property="userId" column="USER_ID"/>
		<result property="userName" column="USER_NAME"/>
		<result property="password" column="USER_PSWORD"/>
		<result property="level" column="USER_LEVEL"/>
		<result property="email" column="USER_EMAIL"/>
		<result property="tel" column="USER_TEL"/>
  		</resultMap>
  		
  </mapper>